/*////////////// MAIN GREETING ////////////*/
.main-greeting{
  position: absolute;
  top:10vh;
  left: 15vw;
}
.main-greeting h1{
  display: flex;
  justify-content: start;
  color:white;
  text-align: start;
  font-size: 90px;
}

.main-greeting img{
  position: absolute;
  top:18vh;
  left:10vw;
}

/*////////////// CONTACT PAGE ///////////////*/
.contact-page-headlineText h1{
  position: absolute;
  top:5vh;
  left:16vw;
  font-size: 80px;
  color: #fa26d3;
}
.contact-page-headlineText h3{
  position:absolute;
  top:25vh;
  left:14vw;
  color: white;
  width: 35vw;
}
.contact-page-input{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40vh;
  left: 12vw;
  width: 40vw;
  height: 50vh;
  position:absolute;
}
  .contact-page-input-name{
  position: absolute;
  top:4vh;
  left: 2.3vw;
  width: 16vw;
  height: 5vh;
}
.contact-page-input-email{
  position: absolute;
  top:4vh;
  right:2.3vw;
  width: 16vw;
  height: 5vh;
}
.contact-page-input-subject{
  position: absolute;
  top:13vh;
  width: 35vw;
  height: 5vh;
  }
.contact-page-input-message{
  position: absolute;
  top:21vh;
  width: 35vw;
  height: 18vh;
}

.contact-page-input-button{
  position: absolute;
  bottom: 4vh;
  right: 5vw;
  background: none;
  border-color: #fa26d3;
  color: #fa26d3;
  width: 9vw;
  height: 4vh;
  font-size: 20px;
}

.contact-page-map{
  position: absolute;
  top:0vh;
  right: 0vw;
  height: 100vh;
  width: 48vw;

background-color: rgb(157, 152, 152);
}
  
  

/*///////////////// MAIN PAGE //////////////*/
.main-page img {
  position: relative;
  width: 99vw;
}

.main-page-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: #282c34;
  width: 8vw;
  height: 100vh;
}

.main-page-bar-icon{
  background-color: black;
  top: 0;
  left: 0;
  width: 8vw;
  height: 18vh;
}

.main-page-bar-icon img {
  position: absolute;
  width: 4vw;
  top: 0vh;
  left: 2vw;
}

.main-page-bar-icon p{
  position: absolute;
  top:10vh;
  left:1vw;
  color: white;
}
.main-page-bar-links{
  position: fixed;
  top:20vh;
  left:3vw;
}
.main-page-bar-links-P{
  position:fixed;
  color: white;
  top:35vh;
  left:2vw;
  font-size: 20px;
}

.main-page-bar-links img{
  width: 1.3vw;
}

.main-page-bar-github{
  position: fixed;
  left: 0.5vw;
  top:60vh;
}
.main-page-bar-linkedin{
  position: fixed;
  left:-0.5vw;
  top:60vh;
}




/*//////////////////////////////*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}