/*//////////////SKILLS PAGE //////////////*/
.skils-page{
  position: absolute;
  top:40vh;
  left:30vw;  
}

/*////////////// MAIN GREETING ////////////*/
.main-greeting{ 
  width: 55vw;
  position: absolute;
  top:10vh;
  left: 15vw;
}
.main-greeting-text{
  top: 9vh;
  left:2vw;
  margin:0;
 position: absolute;
  color:white;
  text-align: start;
  font-size: 5vw;
}

.main-greeting-P{
  margin:0;
  position: absolute;
  top: 0.5vh;
  left: 11vw;
  font-size: 15vw;
  color: white;
  text-shadow:
    -1vw 0.5vw 0 #fa26d3,
    -0.8vw 0.4vw 0 #fa26d3,
    -0.6vw 0.3vw 0 #fa26d3,
    -0.4vw 0.2vw 0 #fa26d3,
    -0.2vw 0.1vw 0 #fa26d3;

}

/*////////////// CONTACT PAGE ///////////////*/

.contact-page-headlineText h1{
  position: absolute;
  top:5vh;
  left:16vw;
  font-size: 80px;
  color: #fa26d3;
}
.contact-page-headlineText h3{
  position:absolute;
  top:25vh;
  left:14vw;
  color: white;
  width: 35vw;
}
.contact-page-input{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40vh;
  left: 12vw;
  width: 40vw;
  height: 50vh;
  position:absolute;
}
  .contact-page-input-name{
  position: absolute;
  top:4vh;
  left: 2.3vw;
  width: 16vw;
  height: 5vh;
}
.contact-page-input-email{
  position: absolute;
  top:4vh;
  right:2.3vw;
  width: 16vw;
  height: 5vh;
}
.contact-page-input-subject{
  position: absolute;
  top:13vh;
  width: 35vw;
  height: 5vh;
  }
.contact-page-input-message{
  position: absolute;
  top:21vh;
  width: 35vw;
  height: 18vh;
}

.contact-page-input-button{
  position: absolute;
  bottom: 4vh;
  right: 5vw;
  background: none;
  border-color: #fa26d3;
  color: #fa26d3;
  width: 9vw;
  height: 4vh;
  font-size: 1vw;
}

.contact-page-map{
  position: absolute;
  top:0vh;
  right: 0vw;
  height: 100vh;
  width: 48vw;

background-color: rgb(157, 152, 152);
}
  
  

/*///////////////// MAIN PAGE //////////////*/

.main-page img {
  position: relative;
  width: 98vw;
  }

.main-page-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: #282c34;
  width: 8vw;
  height: 100vh;
}

.main-page-bar-icon{
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 8vw;
  height: 18vh;
}

.main-page-bar-icon h1{
  position: fixed;
  margin:0;
  color: white;
  font-size: 5vw;  
  left: 2vw;
  text-shadow:
  -0.35vw 0.2vw 1px #fa26d3,
    -0.3vw 0.18vw 1px #fa26d3,
    -0.25vw 0.15vw 1px #fa26d3,
    -0.2vw 0.1vw 1px #fa26d3,
    -0.1vw 0.08vw 1px #fa26d3,
    -0.05vw 0.04vw 1px #fa26d3;
}

.main-page-bar-icon-pablo{
  position: fixed;
  color:white;
  top:7vh;
  left:3.5vw;
}

.main-page-bar-icon-webDeveloper{
  position: fixed;
  color:white;
  font-size: 0.7vw;
  top: 12vh;
  left: 1vw;
}

.main-page-bar-links{
  position: fixed;
  top:20vh;
  left:3vw;
}
.main-page-bar-links-P{
  position:fixed;
  color: white;
  top:35vh;
  left:2vw;
  font-size: 1vw;
}
.main-page-bar-links-P p{
  text-decoration: none; 
  color: white;
  
}

.main-page-bar-links img{
  width: 1.3vw;
}

.main-page-bar-github{
  position: fixed;
  left: 0vw;
  top:60vh;
}
.main-page-bar-linkedin{
  position: fixed;
  left:-0.5vw;
  top:60vh;
}




/*//////////////////////////////*/

a:link, a:visited, a:active {
  text-decoration:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}